<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel = 'stylesheet' href = '/style.css'>
</head>
<body>
    <h1>Register Page</h1>
    <ul>
        <li>
            <a href = '/login'>Login</a>
        </li>
        <li>
            <a href = '/register'>Register</a>
        </li>
    </ul>


    <form action = '/auth/register' method="POST">
        <input name = 'name' placeholder="Name..." id="name">
        <input name = 'email' placeholder="Email Address..." id = 'email' >
        <input name = 'password', placeholder="Password..." id = 'password' type = 'password' >
        <input name = 'passwordConfirm' placeholder="Confirm Password..." id = 'passwordConfirm' type = 'password' >
        <button type = 'submit' >Register Now!</button>
    </form>

<div>
    
    {{#if message}}
        <h4>{{message}}</h4>
    {{/if}}
</div>

</body>
</html>